<!--
    Narsx server is meant to serve as a back office for Narsx: the
    connected coding solution.

    Copyright (C) 2015  Narsx-Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'narsx/css/style.css'%}" media="screen"/>

</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
            <img src="{% static 'narsx/img/doc1.png'%}"  height="80" width="80">
          <h1><span class="logo_colour"><a href="/">NARSX</a></span></a></h1>
          <h2>Extreme Programming done right</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/signout">SIGN OUT</a></li>
        </ul>
      </div>
    </div>


    <div id="site_content">

  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">


<table >
    <ul>
        <li><h3>ALL DOCUMENTS SHARED WITH ME</h3></li>

    </ul>
    <!-- ici boucle for pour recupérer tout les documents -->

    {% for doc in user.documents_shared_with_me %}
    <ul>
       <li><a href="/show/{{ doc.id }}">{{ doc }}</a></li>

    </ul>
    {% endfor %}



</table>


          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">

                             <section id="section">

                          <form method="GET" action="/new">

                             <table>
                            <tr>
                                <td> <label>TITLE </label></td>
                                <td><label>:</label></td>
                                <td><input type="text" name="title" id="titre" /></td>
                                <td><input type="submit"   value="ADD DOCUMENT"></td>

                            </tr>




                            </table>

                         </form>

                            </section>

      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
     | <a href="contact.html">Contact Us</a></p>
        <p>Copyright Narsx - Tous droits réservés<br />
    </div>
  </div>
</body>
</html>







